<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lingdian.xiaoshengchangtan">

    <application
        android:name=".MyApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".services.MyPlayerService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".activity.HomePageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/toolbar_AppTheme" />
        <activity
            android:name=".activity.DetailPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NetEasyActivity"
            android:screenOrientation="portrait" />

        <service android:name=".services.MusicService" />
        <service
            android:name=".services.DownLoadService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".activity.DownLoadingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DownLoadedActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".services.TimerService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".activity.MyMainActivity"
            android:label="@string/title_activity_my_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.MainLockActivity"
            android:launchMode="singleInstance"
            android:taskAffinity="com.example.suoping.lockscreen"
            android:theme="@style/splashTheme" />
        <activity android:name=".activity.SelectTimerActivity" />

        <service
            android:name=".services.NetStatusChangeService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>